<p id="notice"><%= notice %></p>

<h1>Links de <%=current_user.email%></h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Visits count</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.url %></td>
        <td><%= link.visits_count %></td>
        <td><%= link_to "http://localhost:3000/links/#{link.code}", "http://localhost:3000/links/#{link.code}" %></td>
        <td><%= link_to 'Stats', link_stats_url(link) %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @links %>

<%= link_to 'New Link', new_link_path %>
