<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @link.user_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Visits count:</strong>
  <%= @link.visits_count %>
</p>

<p>
  <strong>Code:</strong>
  <%= @link.code %>
</p>

<p>
  <strong>Short link:</strong>
  <%= link_to "http://localhost:3000/links/#{@link.code}", "http://localhost:3000/links/#{@link.code}" %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
