<h1>Stats de <%=current_user.links.find(params[:id]).code%></h1>

<table>
  <thead>
    <tr>
      <th>User Agent</th>
      <th>IP count</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @link_logs.each do |link_log| %>
      <tr>
        <td><%= link_log.user_agent %></td>
        <td><%= link_log.ip %></td>
        <td><%= %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>